* {
  direction: rtl;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: Noto-Sans-regular;
  src: url("./assets/fonts/NotoSansArabic-Regular.ttf");
}

@font-face {
  font-family: Noto-Sans-light;
  src: url("./assets/fonts/NotoSansArabic-Light.ttf");
}

@font-face {
  font-family: Noto-Sans-bold;
  src: url("./assets/fonts/NotoSansArabic-Bold.ttf");
}

@import "tailwindcss";

@theme {
  --font-primary-regular: Noto-Sans-regular, "sans-serif";
  --font-primary-thin: Noto-Sans-light, "sans-serif";
  --font-primary-bold: Noto-Sans-bold, "sans-serif";

  --color-primary: #1b4332;
  --color-primary-light: #245741;
  --color-secondary: #d4af37;

  --color-primary: #1b4332;
  --color-secondary: #d4af37;
  --color-background: #f3f4f6;
  --color-surface: #ffffff;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;

  --color-background: #f3f4f6;
  --color-surface: #ffffff;
  --color-hero-bg: #1b4332;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-success: #059669;
  --color-warning: #d97706;
  --color-fail: #dc2626;
  --color-border: #e5e7eb;
}
